.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
/data/*
#/data/
!/data/referenceData/
/kdm[AB]_analysis/**/*.png
/kdm[AB]_analysis/**/*.pdf
/kdm[AB]_analysis/**/*.svg

