.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
ULAS_An_analysis.txt
sampleInfo.txt
sampleAttributes.txt
/data/*
#/data/
!/data/referenceData/
/kdmB_analysis
/kdmA_analysis
/generic_analysis
